.vscode/*
_minted/*
src/homeworks/images/*
src/practices/images/*
src/conspecuts/images/*
images/cache/*
*.aux
*.synctex
*.aux 
*.auxlock
*.bit
*.blg 
*.bbl 
*.lof 
*.log 
*.lot 
*.mmz
*.glo 
*.glx 
*.gxg 
*.gxs 
*.idx 
*.ilg 
*.ind 
*.out 
*.synctex.gz
*.url 
*.svn 
*.toc
*.pdf

